body {
    background: black url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    font-family: "Helvetica Neue";
}

.welcome {
    background-image: url("images/transparent_white.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 550px;
    margin: 40px auto;
    padding: 10px 20px;
    border: solid black 10px;
}
.welcome h1 {
    font-weight: 310;
}

.welcome p {
    font-weight: 100;
    font-size: 18px;
}

.reservation-form {
    background-image: url("images/transparent_white.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 550px;
    height: 250px;
    margin: 40px auto;
    padding: 40px 20px;
    border: solid white 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.reservation-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reservation-form label {
    width: 150%;
    text-align: left;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Helvetica Neue";
    background-color: rgb(66, 66, 66);
    padding: 5px;
}

.reservation-form input {
    width: 150%;
    padding: 5px;
    border: none;
    height: 30px; 
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Georgia';
    font-style: italic;
}

.reservation-form input::placeholder {
    color: rgb(162, 161, 161);
}

.reservation-form button {
    width: 155%;
    border: none;
    color: white;
    background-color: rgb(162, 9, 9);
    font-size: 20px;
    padding: 10px;
    font-family: 'Georgia';
    font-style: italic;
}

footer {
    color: white;
    font-family: 'Helvetica Neue';
    font-weight: 100;
    font-size: 20px;
    padding: 15px;
}